body {
  height: 100vh;
  padding: 20px;
  font-size: 1.2em;
  background-image: url("./images/COFFEE.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

nav {
  background-color: burlywood;
  padding: 20px;
  margin-bottom: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.established {
  font-style: italic;
}

.section {
  display: none;
}

#home {
  display: block;
}

.homepage {
  width: 100%;
}

#menu,
#home,
#about {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  margin-bottom: 3em;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
  max-width: 25%;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1,
h2,
h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.flavor,
.dessert {
  text-align: left;
  width: 49%;
}

.price {
  text-align: right;
  width: 49%;
}

/* footer */
#footer {
  background-color: burlywood;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section h3 {
  margin: 0 0 8px 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section a, nav a{
 text-decoration: none;
 color: brown;
}

.footer-section a:hover, nav a:hover{
  text-decoration: underline;
}

.address {
  grid-column: 1/ -1;
  text-align: center;
  background-color: burlywood;
  padding: 0;
  margin: 0;
}
